
{% extends 'articles/sub/base.html' %}
{% block content %}


<div class="w3-content" style="margin-top:50px;">

{% include "articles/homeimage.html" %}

	{% for dept in depts %}

{% with "articles:dept"|add:dept.department|lower as pathname %}
<a href="{% url pathname %}" class="w3-hover-sepia">
{% endwith %}


	<div class="w3-row w3-margin w3-border">
	<div class="w3-half">
		<img src="{{ dept.thumb.url }}" width="100%">
	</div>
	<div class="w3-half w3-padding">
		<h3 class="w3-text-blue">{{ dept.department }}</h3>
		<p>
			{{ dept.short_des }}
		</p>
		<hr>
		<p class="w3-text-blue"><small>12,312 views 1,211 likes</small><i class="far fa-heart w3-right w3-text-gray"></i></p>
	</div>
	</div>
</a>
	{% endfor %}
	
{% include "articles/subscription.html" %}

</div>
<script type="text/javascript">
	document.getElementById('departments').style.borderBottom = "3px solid red";
</script>


{% endblock %}

