
{% extends 'articles/base.html' %}
{% block content %}



<div class="w3-content" style="margin-top:50px;">

{% include "articles/imagecsdept.html" %}

	{% for dep in dept %}
	<div class="w3-container">
		<p class="w3-center w3-padding-large" style="font-size: 200%;"><i>{{ dep }} {{ dep.slogan }}</i></p>

		<h3 class="w3-center w3-text-blue"><b>{{ dep.given_by }}</b></h3>

		<p>{{ dep.long_des }}</p>

		<div class="w3-bar">
		  <button id="log1" class="w3-bar-item w3-button w3-blue">Our Projects</button>
		  <a id="log2" class="w3-bar-item w3-button w3-blue w3-right">Our Team</a>
		</div>
	</div>
	{% endfor %}

	<div id="projects" class="projects w3-hide" >
		{% include "articles/projects.html" %}
	</div>

	<div id="teams" class="teams w3-hide">
		{% include "articles/members.html" %}
	</div>

</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#log1").click(function()
	{
    	$("#log1").removeClass("w3-blue").addClass("w3-red");
    	$("#log2").removeClass("w3-red").addClass("w3-blue");
    	$("#projects").removeClass("w3-hide");
    	$("#teams").addClass("w3-hide");

	});

	$("#log2").click(function()
	{
    	$("#log2").removeClass("w3-blue").addClass("w3-red");
    	$("#log1").removeClass("w3-red").addClass("w3-blue");
    	$("#projects").addClass("w3-hide");
    	$("#teams").removeClass("w3-hide");

	});
});
</script>
{% endblock %}
