{% extends 'articles/sub/base.html' %}
{% block content %}

<div class="w3-content" style="margin-top:50px;">

{% include "articles/homeimage.html" %}

	<div class="w3-panel w3-padding" style="border: 4px solid red">
		<div id="typed-strings">
			<p><b class="w3-text-red">Latest:</b> Typed.js is an <strong>Awesome</strong> library.</p>
			<p><b class="w3-text-red">Latest:</b> It <en>types</en> out sentences.</p>
		</div>
		<span id="typed"></span>
	</div>

	<div class="w3-panel w3-border">
		<h1 class="w3-text-blue w3-center">About Us</h1>
		<p>
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
		</p>

		<hr>

		<div class="w3-row-padding" style="margin: 50px 0px;">
		  <div class="w3-third">
		    <img class="w3-card" src="/static/img/person001.jpg" width="100%">
		  </div>
		  <div class="w3-twothird w3-padding w3-justify">
		  	<h1 class="w3-text-blue">Prof. J.P. Pandey</h1>
		  	<small class="w3-text-gray">Director, KNIT Sultanpur</small>
		  	<br>
		<p>
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
		</p>

		  </div>
		</div>

		<hr>

		<div class="w3-row-padding" style="margin: 50px 0px;">
		  <div class="w3-twothird w3-padding w3-justify">
		  	<h1 class="w3-text-blue">Prof. S.P. Gangwar</h1>
		  	<small class="w3-text-gray">Convenor, Hobby Club, KNIT Sultanpur</small>
		  	<br>
		<p>
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
		</p>

		  </div>
		  <div class="w3-third">
		    <img class="w3-card" src="/static/img/person002.jpg" width="100%">
		  </div>

		</div>

	</div>

	{% include "articles/subscription.html" %}

</div>
<script type="text/javascript">
	document.getElementById('home').style.borderBottom = "3px solid red";
</script>
<script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    typeSpeed: 0,
    backSpeed: 0,
    backDelay: 2000,
    loop:true
  });
</script>


{% endblock %}