<div class="w3-display-container">
	  <img src="/static/img/img002.jpg" alt="Lights" style="width:100%">
	  <div class="w3-padding w3-display-middle"><p style="font-size:50px; text-align: center; margin-bottom: 0px;"><b>HOBBY CLUB</b></p><p style="text-align: center; margin-top: 0px;">Let's make Hobby a passion</p></div>
	  <div class="w3-display-bottomright w3-black">
			<i class="fab fa-twitter w3-margin"></i>
			<i class="fab fa-google-plus-g w3-margin"></i>
			<i class="fab fa-facebook-f w3-margin"></i>
			<i class="fab fa-github w3-margin"></i>
	  </div>
</div>

